.footer {
	width: 100%;
	height: 35px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background: #4a9396;
}
.footer-label {
	width: 90%;
	height: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.footer-label a {
	text-decoration: none;
	color: #000;
}
.footer-label a:hover {
	cursor: pointer;
	color:rgba(0, 0, 0, 0.5);
}
.img-youtube {
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.img {
	width: 40px;
	height: 20px;
	background: url(../images/rs_school_js.svg);
	background-repeat: no-repeat;
}
.youtube {
	width: 40px;
	height: 30px;
	background: url(../images/youtube.png);
	background-repeat: no-repeat;
}